<div class="container login-container">
  <div class="login-form-2">
    <h4>Cadastro de Usuario</h4>
    <form #formValidate="ngForm">
      <div class="row form-group col-md-9 mb-3">
        <span class="obrigatorio">*</span><label>Nome:</label>
        <input type="text" #iptNome="ngModel" [(ngModel)]="usuario.nome" id="nome" name="nome" class="form-control"
          placeholder="Seu login" required />
        <div *ngIf="iptLogin.invalid" class="invalid">
          Campo Obrigatório!
        </div>
      </div>
      <div class="form-group">
        <span class="obrigatorio">*</span><label>E-mail:</label><p> Será enviando um email de confirmação para o email informado abiaxo!</p>
        <input type="text" #iptEmail="ngModel" [(ngModel)]="usuario.email" id="email" name="email" class="form-control"
          placeholder="Seu login" required />
        <div *ngIf="iptLogin.invalid" class="invalid">
          Campo Obrigatório!
        </div>
      </div>
      <div class="row form-group col-md-6">
        <span class="obrigatorio">*</span><label>CPF:</label>
        <input type="text" mask="000.000.000-00" #iptCpf="ngModel" [(ngModel)]="usuario.cpf" id="cpf" name="cpf" class="form-control"
          placeholder="Seu login" required />
        <div *ngIf="iptCpf.invalid" class="invalid">
          Campo Obrigatório!
        </div>
      </div>
      <div class="form-row">
      <div class="form-group col-md-6 mb-3">
        <span class="obrigatorio">*</span><label>Login:</label>
        <input type="text" #iptLogin="ngModel" [(ngModel)]="usuario.login" id="login" name="login" class="form-control"
          placeholder="Seu login" required />
        <div *ngIf="iptLogin.invalid" class="invalid">
          Campo Obrigatório!
        </div>
      </div>
      <div class="form-group col-md-5 mb-3">
        <span class="obrigatorio">*</span><label>Senha:</label>
        <input type="password" #iptSenha="ngModel" [(ngModel)]="usuario.senha" id="senha" name="senha"
          class="form-control" placeholder="Sua senha" required />
        <div *ngIf="iptSenha.invalid" class="invalid">Campo Obrigatório!</div>
      </div>
      </div>
      <div class="form-group btnlogin">
        <input type="submit" [disabled]="formValidate.invalid" class="btnSubmit" value="Cadastrar"
          (click)="cadastrarUsuario()" />
      </div>
    </form>
  </div>
</div>