<div class="container">
	<div class="card-deck">
		<a [routerLink]="['/meusAnuncios']" routerLinkActive="router-link-active">
			<div class="card text-white text-center p-3 bc-tema" style="width: 18rem;">

				<div class="card-body">
					<h5 class="card-title">Meus anuncios</h5>
				</div>

			</div>
		</a>
		<a [routerLink]="['/meusAnuncios']" routerLinkActive="router-link-active">
			<div class="card text-white text-center p-3 bc-tema" style="width: 18rem;">

				<div class="card-body">
					<h5 class="card-title">Criar Anuncio</h5>
				</div>

			</div>
		</a>
		<a [routerLink]="['/meusAnuncios']" routerLinkActive="router-link-active">
			<div class="card text-white text-center p-3 bc-tema" style="width: 18rem;">

				<div class="card-body">
					<h5 class="card-title">Meus Dados</h5>
				</div>

			</div>
		</a>
	</div>
</div>